{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
        ["react-hot-loader/babel"],
        [
            "import",
            {
                "libraryName": "antd",
                "style": true,
                "libraryDirectory": "es"
            }
        ]
    ]
}
